<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/normalize.css" rel="stylesheet">
    <link href="../styles/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aleo&display=swap" rel="stylesheet">
</head>
<body>
    <div class="about">
        <h1>Under new management!</h1>
        <p>Recon is a family run business that has been welding for Britain for over 27 years.</p>
        <img src="../images/rob@1x.webp">
    </div>
</body>
</html>